/* .t1-container, .t2-container, .t3-container {
    display: grid;
    grid-template-columns: 120px 1fr;
    width: 100%;
} */
.t1-container,
.t2-container,
.t3-container {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: auto 1fr;
    width: 100%;
    min-height: 100vh;
    /* padding: 20px; */
    box-sizing: border-box;
}

/* .topic-header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px; 
} */
.topic-header {
    grid-column: 1 / 3; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.topic-title {
    font-size: 24px;
    font-weight: 600;
    /* gap: 40px; */
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary);
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}

/* .question-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: small;
    border: 1px solid #7c7979;
    border-radius: 4px;
} */
.question-list {
    grid-column: 1;
    grid-row: 2;
    font-size: small;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: 1px solid #7c7979;
    border-radius: 4px;

    height: fit-content;
    width: 100px;
}

.question-link {
    padding: 5px;
    cursor: pointer;
    text-align: center;
    /* border: 1px solid #ccc; */
}

.question-link.active {
    text-decoration: underline;
}

/* .topic-content {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    text-align: center;
    width: 100%;
} */
.topic-content {
    grid-column: 2;
    grid-row: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-80px);
    /* justify-content: center; */
    text-align: center;
    width: 100%;
    /* padding: 20px; */
}

/* .question {
    border: 1px solid #7c7979;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 600px;
} */
.question {
    border: 1px solid #7c7979;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
}
/* 
.answer-option {
    padding: 10px;
    margin: 5px;
    border: 1px solid #7c7979;
    border-radius: 4px;
    max-width: 500px;
} */
.answer {
    width: 100%;
    max-width: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-option {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #7c7979;
    border-radius: 4px;

    width: 100%;
    max-width: 500px;

    text-align: left;
}


.correct-option {
    border-color: green;
    background-color: rgba(0, 128, 0, 0.08);
}

.incorrect-option {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.08);
}

.feedback {
    margin-top: 8px;
    font-weight: 550;
}

.code-feedback {
    margin-bottom: 10px;
    max-width: 500px;
}

.code-feedback.correct-code-feedback {
    color: green;
    border: 1px solid green;
    border-radius: 4px;
    padding: 10px;

}   
.code-feedback.incorrect-code-feedback {
    color: red;
    border: 1px solid red;
    border-radius: 4px;
    padding: 10px;
} 
.code-options-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    width: 90%;
    align-items: center;
    margin-left: 50px;
}

.code-answer-option {
    display: flex;
    align-items: center; 
    gap: 5px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #7c7979;
    border-radius: 4px;
    /* width: 100%; */
}

.submit-button, .next-button, .try-again-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary);
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
}   